<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="3251e4ac969b44ed9523c2e62cc0cfcd" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_3251e4ac969b44ed9523c2e62cc0cfcd = echarts.init(
            document.getElementById('3251e4ac969b44ed9523c2e62cc0cfcd'), 'white', {renderer: 'canvas'});
        var option_3251e4ac969b44ed9523c2e62cc0cfcd = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "line",
            "name": "\u65e0\u7ecf\u9a8c",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "step": false,
            "data": [
                [
                    "\u4e2d\u4e13",
                    "4333.5"
                ],
                [
                    "\u5927\u4e13",
                    "5596.14"
                ],
                [
                    "\u4e0d\u9650",
                    "5018.91"
                ],
                [
                    "\u672c\u79d1",
                    "5923.05"
                ],
                [
                    "\u7855\u58eb",
                    "7286.81"
                ],
                [
                    "\u535a\u58eb",
                    null
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            }
        },
        {
            "type": "line",
            "name": "\u4e00\u5e74\u4ee5\u4e0b",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "step": false,
            "data": [
                [
                    "\u4e2d\u4e13",
                    "7000.5"
                ],
                [
                    "\u5927\u4e13",
                    "5833.37"
                ],
                [
                    "\u4e0d\u9650",
                    "6916.88"
                ],
                [
                    "\u672c\u79d1",
                    "9588.11"
                ],
                [
                    "\u7855\u58eb",
                    "11900.2"
                ],
                [
                    "\u535a\u58eb",
                    null
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            }
        },
        {
            "type": "line",
            "name": "\u4e0d\u9650",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "step": false,
            "data": [
                [
                    "\u4e2d\u4e13",
                    "5167.1"
                ],
                [
                    "\u5927\u4e13",
                    "7852.07"
                ],
                [
                    "\u4e0d\u9650",
                    "13634.06"
                ],
                [
                    "\u672c\u79d1",
                    "12984.68"
                ],
                [
                    "\u7855\u58eb",
                    "15817.53"
                ],
                [
                    "\u535a\u58eb",
                    "22278.8"
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            }
        },
        {
            "type": "line",
            "name": "\u4e00\u81f3\u4e09\u5e74",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "step": false,
            "data": [
                [
                    "\u4e2d\u4e13",
                    "7600.4"
                ],
                [
                    "\u5927\u4e13",
                    "9669.12"
                ],
                [
                    "\u4e0d\u9650",
                    "10907.75"
                ],
                [
                    "\u672c\u79d1",
                    "12289.26"
                ],
                [
                    "\u7855\u58eb",
                    "17290.24"
                ],
                [
                    "\u535a\u58eb",
                    "22538.73"
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            }
        },
        {
            "type": "line",
            "name": "\u4e09\u81f3\u4e94\u5e74",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "step": false,
            "data": [
                [
                    "\u4e2d\u4e13",
                    "7500.3"
                ],
                [
                    "\u5927\u4e13",
                    "13242.82"
                ],
                [
                    "\u4e0d\u9650",
                    "15411.8"
                ],
                [
                    "\u672c\u79d1",
                    "16735.82"
                ],
                [
                    "\u7855\u58eb",
                    "24769.05"
                ],
                [
                    "\u535a\u58eb",
                    "26800.15"
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            }
        },
        {
            "type": "line",
            "name": "\u4e94\u81f3\u5341\u5e74",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "step": false,
            "data": [
                [
                    "\u4e2d\u4e13",
                    "22500"
                ],
                [
                    "\u5927\u4e13",
                    "19276.2"
                ],
                [
                    "\u4e0d\u9650",
                    "21362.82"
                ],
                [
                    "\u672c\u79d1",
                    "23044.62"
                ],
                [
                    "\u7855\u58eb",
                    "31985.05"
                ],
                [
                    "\u535a\u58eb",
                    "43942.33"
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            }
        },
        {
            "type": "line",
            "name": "\u5341\u5e74\u4ee5\u4e0a",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "step": false,
            "data": [
                [
                    "\u4e2d\u4e13",
                    null
                ],
                [
                    "\u5927\u4e13",
                    "16250"
                ],
                [
                    "\u4e0d\u9650",
                    "55000.5"
                ],
                [
                    "\u672c\u79d1",
                    "34592.84"
                ],
                [
                    "\u7855\u58eb",
                    "40000.5"
                ],
                [
                    "\u535a\u58eb",
                    null
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u65e0\u7ecf\u9a8c",
                "\u4e00\u5e74\u4ee5\u4e0b",
                "\u4e0d\u9650",
                "\u4e00\u81f3\u4e09\u5e74",
                "\u4e09\u81f3\u4e94\u5e74",
                "\u4e94\u81f3\u5341\u5e74",
                "\u5341\u5e74\u4ee5\u4e0a"
            ],
            "selected": {
                "\u65e0\u7ecf\u9a8c": true,
                "\u4e00\u5e74\u4ee5\u4e0b": true,
                "\u4e0d\u9650": true,
                "\u4e00\u81f3\u4e09\u5e74": true,
                "\u4e09\u81f3\u4e94\u5e74": true,
                "\u4e94\u81f3\u5341\u5e74": true,
                "\u5341\u5e74\u4ee5\u4e0a": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "\u4e2d\u4e13",
                "\u5927\u4e13",
                "\u4e0d\u9650",
                "\u672c\u79d1",
                "\u7855\u58eb",
                "\u535a\u58eb"
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "text": "\u6700\u4f4e\u5b66\u5386-\u5de5\u4f5c\u7ecf\u9a8c\u4e0e\u5e73\u5747\u6708\u85aa",
            "subtext": "\u5e73\u5747\u6708\u85aa(\u5143)"
        }
    ]
};
        chart_3251e4ac969b44ed9523c2e62cc0cfcd.setOption(option_3251e4ac969b44ed9523c2e62cc0cfcd);
    </script>
</body>
</html>
