{% extends 'base.html' %}
{% block main %}
    <h2>工作经验与最低要求学历的职位分布数量</h2>
{{ the_pie_base|safe }}

        <body>
<aside style="
      float: left;
      background-color:lightcyan;
      width:1000px;
      height:300px;
      border-radius: 20px;
      margin-left: 150px;
      margin-top: 60px;
      text-align: left;
      font-size: 99%;">
    <p> 结论：上半部分的柱状图可以看出工作经验要求【不限】的数量最多，达6183个岗位，因此可以初步推断Python相关岗位，只要你技术过硬能够胜任工作，并没有工作经验方面的硬性要求。</p >
<p> 我们都知道Python技术的提高需要大量的项目和实操练习，所以如图所示，【1-3年】和【3-5】年的数量也是相当高的，分别是5164个岗位和4842个岗位，因此可以看出，大部分公司在招聘Python相关人才的时候非常注重应试者的工作经验。</p >
<p> 下半部分折线图可见【本科】独占鳌头，数量多达9954个工作岗位。</p >
<p> 【不限】和【大专】的数量也不容小觑！看起来，只要技术过硬，学历不是大问题。</p >
<p> 作为对比【硕士】学历要求的岗位数量1137个，【博士】更是少到只有88个岗位，果然稀缺到百里挑一，看得出【博士】学历的人才非常珍贵。</p >
<p> 对比图4可知，在python技术过硬的同等条件下，【硕士】和【博士】稀缺人才比起本科及以下学历的人才工资是成倍的。</p >
</aside>
</body>
{% endblock %}
