{% extends 'base.html' %}
{% block main %}
    <h2>最低学历-工作经验与平均月薪</h2>


{{ the_bar_base|safe }}
       <body>
<aside style="
      float: left;
      background-color:lightcyan;
      width:1000px;
      height:270px;
      border-radius: 20px;
      margin-left: 150px;
      margin-top: 60px;
      text-align: left;
      font-size: 99%;">
    <p> 结论：如图所示，我们可以看出无论是从同一学历不同经验还是相同经验不同学历条形图都是呈增长趋势的，因此可以判断出Python相关岗位的月薪是与学历经验直接相关的。以后想从事这个行业的同学，需要多多实操，好好学习，平均月薪的多少与你技术能力的不可替代性息息相关。</p >
<p> 拥有【十年以上】工作经验的大佬们平均工资相当高，最高的平均工资是学历要求【不限】的【十年以上】经验的岗位，高达5.5万。其次是【博士】学历，工作经验【五至十年】，平均月薪达近4.4万。</p >
<p> 图中可以看出【大专】【不限】【本科】的学历工作一年，平均月薪有望达到1万！【本科】及以上工资明显增长，对于【博士】没有出现【一年以下】的经验要求，【博士】平均月薪起步2.2万。看来学历是很重要的一道门槛。</p >
<p> 同时也可以看出【中专】学历工作十年、【大专】学历工作五至十年，平均月薪也是有望达到2万的，因此这个行业也为很多厚积薄发的人才提供机会。</p >
</aside>
       <aside style="
      float: left;
      background-color:lightcyan;
      width:1000px;
      height:270px;
      border-radius: 20px;
      margin-left: 150px;
      margin-top: 20px;
      text-align: left;
      font-size: 99%;">
    <p> 总结论： 在经济发达的东部沿海地区，例如北京、上海、广东、浙江这几个省份，互联网市场大，科技人才需求量大，有许多python相关的岗位，同时待遇丰厚，平均工资也明显超过其他省份。但是个人发展最重要的还是个人能力，学历越高、经验越丰富的人才就会相应获得更高的工资。</p >
     <p>python是门技术活，如果你学历不如人，那么多多积累经验也是有机会逆风翻盘的！</p>
           <p> 当然如果你精通Python又不想有很大的生活压力，那么不如选择南京、武汉、苏州、大连、厦门这样相对较小的城市，python相关岗位的平均月薪是过万的,生活压力相对较小。</p>
           <p> 一句话概括就是 Python＋大城市＋高学历＋工作经验等于高新就业机会！</p >
             <p> 人生苦短，我用PYTHON！</p >
</aside>
</body>

{% endblock %}
